* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0694CC;
}
li, a, button {
    font-weight: 500;
    font-size: 16;
    color: #ffffff;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
} 

.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20 px;
}
.nav_links li a {
    transition: ali 0.3s ease 0s;
}
.nav_links li a:hover {
   color: #000000
}
button {
    padding: 9px 25px;
    background-color: rgba(a,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: ali 0.3s ease 0s;
}
button:hover {
    background-color: rgba(a,136,169,0.8);

}